--
-- PostgreSQL database dump
--

\restrict JrpxFPy62946UGLU97ivkhZ7tGF6NJ0IQkC8Rt3RW1H1efcbyav0E5QmWEKcf7w

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: enum_categories_type; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.enum_categories_type AS ENUM (
    'Ingreso',
    'Egreso'
);


--
-- Name: enum_credit_cards_brand; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.enum_credit_cards_brand AS ENUM (
    'Visa',
    'Mastercard',
    'American Express',
    'Otras'
);


--
-- Name: enum_exchange_rates_source; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.enum_exchange_rates_source AS ENUM (
    'manual',
    'api',
    'oficial',
    'blue'
);


--
-- Name: enum_investments_status; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.enum_investments_status AS ENUM (
    'Activo',
    'Vencido',
    'Rescatado'
);


--
-- Name: enum_investments_type; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.enum_investments_type AS ENUM (
    'Plazo Fijo',
    'Compra Divisa',
    'Venta Divisa',
    'Otro'
);


--
-- Name: enum_loans_status; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.enum_loans_status AS ENUM (
    'Activo',
    'Pagado',
    'Vencido'
);


--
-- Name: enum_payment_methods_type; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.enum_payment_methods_type AS ENUM (
    'Efectivo',
    'Tarjeta',
    'Transferencia',
    'Billetera Virtual',
    'Otro'
);


--
-- Name: enum_pending_transactions_currency; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.enum_pending_transactions_currency AS ENUM (
    'ARS',
    'USD'
);


--
-- Name: enum_pending_transactions_status; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.enum_pending_transactions_status AS ENUM (
    'pending',
    'processed',
    'discarded'
);


--
-- Name: enum_pending_transactions_type; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.enum_pending_transactions_type AS ENUM (
    'Ingreso',
    'Egreso'
);


--
-- Name: enum_transactions_type; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.enum_transactions_type AS ENUM (
    'Ingreso',
    'Egreso'
);


--
-- Name: enum_users_role; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.enum_users_role AS ENUM (
    'Admin',
    'Operador'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.categories (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    type public.enum_categories_type NOT NULL,
    is_recurring boolean DEFAULT false NOT NULL,
    parent_category_id integer,
    user_id integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: COLUMN categories.is_recurring; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.categories.is_recurring IS 'Indica si es una categor├¡a de gasto/ingreso fijo mensual';


--
-- Name: COLUMN categories.parent_category_id; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.categories.parent_category_id IS 'ID de la categor├¡a padre (null si es categor├¡a principal)';


--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.categories_id_seq OWNED BY public.categories.id;


--
-- Name: credit_card_expenses; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.credit_card_expenses (
    id integer NOT NULL,
    description character varying(255) NOT NULL,
    total_amount numeric(10,2) NOT NULL,
    installments integer DEFAULT 1 NOT NULL,
    purchase_date date NOT NULL,
    currency character varying(3) DEFAULT 'ARS'::character varying NOT NULL,
    credit_card_id integer NOT NULL,
    category_id integer NOT NULL,
    user_id integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: COLUMN credit_card_expenses.description; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.credit_card_expenses.description IS 'Descripci├│n del gasto';


--
-- Name: COLUMN credit_card_expenses.total_amount; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.credit_card_expenses.total_amount IS 'Monto total del gasto (ya incluye inter├⌐s si aplica)';


--
-- Name: COLUMN credit_card_expenses.installments; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.credit_card_expenses.installments IS 'Cantidad de cuotas (1 = pago ├║nico)';


--
-- Name: COLUMN credit_card_expenses.purchase_date; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.credit_card_expenses.purchase_date IS 'Fecha de la compra';


--
-- Name: COLUMN credit_card_expenses.currency; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.credit_card_expenses.currency IS 'Moneda del gasto (ARS, USD)';


--
-- Name: credit_card_expenses_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.credit_card_expenses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: credit_card_expenses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.credit_card_expenses_id_seq OWNED BY public.credit_card_expenses.id;


--
-- Name: credit_card_installments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.credit_card_installments (
    id integer NOT NULL,
    installment_number integer NOT NULL,
    amount numeric(10,2) NOT NULL,
    due_date date NOT NULL,
    is_paid boolean DEFAULT false NOT NULL,
    paid_date date,
    expense_id integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: COLUMN credit_card_installments.installment_number; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.credit_card_installments.installment_number IS 'N├║mero de cuota (1, 2, 3...)';


--
-- Name: COLUMN credit_card_installments.amount; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.credit_card_installments.amount IS 'Monto de esta cuota';


--
-- Name: COLUMN credit_card_installments.due_date; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.credit_card_installments.due_date IS 'Fecha de vencimiento de la cuota';


--
-- Name: COLUMN credit_card_installments.is_paid; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.credit_card_installments.is_paid IS 'Indica si la cuota fue pagada';


--
-- Name: COLUMN credit_card_installments.paid_date; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.credit_card_installments.paid_date IS 'Fecha en que se pag├│ la cuota';


--
-- Name: credit_card_installments_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.credit_card_installments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: credit_card_installments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.credit_card_installments_id_seq OWNED BY public.credit_card_installments.id;


--
-- Name: credit_card_payments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.credit_card_payments (
    id integer NOT NULL,
    amount numeric(10,2) NOT NULL,
    payment_date date NOT NULL,
    currency character varying(3) DEFAULT 'ARS'::character varying NOT NULL,
    notes text,
    credit_card_id integer NOT NULL,
    transaction_id integer,
    user_id integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: COLUMN credit_card_payments.amount; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.credit_card_payments.amount IS 'Monto pagado del resumen';


--
-- Name: COLUMN credit_card_payments.payment_date; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.credit_card_payments.payment_date IS 'Fecha en que se realiz├│ el pago';


--
-- Name: COLUMN credit_card_payments.currency; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.credit_card_payments.currency IS 'Moneda del pago (ARS, USD)';


--
-- Name: COLUMN credit_card_payments.notes; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.credit_card_payments.notes IS 'Notas adicionales sobre el pago';


--
-- Name: COLUMN credit_card_payments.transaction_id; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.credit_card_payments.transaction_id IS 'Transacci├│n de egreso asociada al pago (afecta el balance)';


--
-- Name: credit_card_payments_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.credit_card_payments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: credit_card_payments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.credit_card_payments_id_seq OWNED BY public.credit_card_payments.id;


--
-- Name: credit_card_recurring_charges; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.credit_card_recurring_charges (
    id integer NOT NULL,
    description character varying(255) NOT NULL,
    amount numeric(10,2) NOT NULL,
    charge_day integer NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    currency character varying(3) DEFAULT 'ARS'::character varying NOT NULL,
    credit_card_id integer NOT NULL,
    category_id integer,
    user_id integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: COLUMN credit_card_recurring_charges.description; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.credit_card_recurring_charges.description IS 'Descripci├│n del d├⌐bito (ej: Netflix, Spotify)';


--
-- Name: COLUMN credit_card_recurring_charges.amount; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.credit_card_recurring_charges.amount IS 'Monto mensual del d├⌐bito';


--
-- Name: COLUMN credit_card_recurring_charges.charge_day; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.credit_card_recurring_charges.charge_day IS 'D├¡a del mes en que se carga (1-31)';


--
-- Name: COLUMN credit_card_recurring_charges.is_active; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.credit_card_recurring_charges.is_active IS 'Indica si el d├⌐bito est├í activo';


--
-- Name: COLUMN credit_card_recurring_charges.currency; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.credit_card_recurring_charges.currency IS 'Moneda del d├⌐bito (ARS, USD)';


--
-- Name: credit_card_recurring_charges_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.credit_card_recurring_charges_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: credit_card_recurring_charges_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.credit_card_recurring_charges_id_seq OWNED BY public.credit_card_recurring_charges.id;


--
-- Name: credit_cards; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.credit_cards (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    bank character varying(100) NOT NULL,
    brand public.enum_credit_cards_brand DEFAULT 'Otras'::public.enum_credit_cards_brand NOT NULL,
    last_four_digits character varying(4) NOT NULL,
    expiration_month integer NOT NULL,
    expiration_year integer NOT NULL,
    due_day integer NOT NULL,
    user_id integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: COLUMN credit_cards.name; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.credit_cards.name IS 'Nombre identificador de la tarjeta (ej: Visa Personal)';


--
-- Name: COLUMN credit_cards.bank; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.credit_cards.bank IS 'Entidad emisora (ej: Banco Galicia)';


--
-- Name: COLUMN credit_cards.brand; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.credit_cards.brand IS 'Marca de la tarjeta';


--
-- Name: COLUMN credit_cards.last_four_digits; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.credit_cards.last_four_digits IS '├Ültimos 4 d├¡gitos de la tarjeta';


--
-- Name: COLUMN credit_cards.expiration_month; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.credit_cards.expiration_month IS 'Mes de vencimiento (1-12)';


--
-- Name: COLUMN credit_cards.expiration_year; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.credit_cards.expiration_year IS 'A├▒o de vencimiento (YYYY)';


--
-- Name: COLUMN credit_cards.due_day; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.credit_cards.due_day IS 'D├¡a del mes de vencimiento del pago (1-31)';


--
-- Name: credit_cards_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.credit_cards_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: credit_cards_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.credit_cards_id_seq OWNED BY public.credit_cards.id;


--
-- Name: exchange_rates; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.exchange_rates (
    id integer NOT NULL,
    currency_from character varying(3) DEFAULT 'USD'::character varying NOT NULL,
    currency_to character varying(3) DEFAULT 'ARS'::character varying NOT NULL,
    rate numeric(10,2) NOT NULL,
    source public.enum_exchange_rates_source DEFAULT 'api'::public.enum_exchange_rates_source NOT NULL,
    date date NOT NULL,
    user_id integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: COLUMN exchange_rates.rate; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.exchange_rates.rate IS 'Tasa de cambio';


--
-- Name: COLUMN exchange_rates.source; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.exchange_rates.source IS 'Origen de la cotizaci├│n';


--
-- Name: exchange_rates_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.exchange_rates_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: exchange_rates_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.exchange_rates_id_seq OWNED BY public.exchange_rates.id;


--
-- Name: investment_earnings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.investment_earnings (
    id integer NOT NULL,
    investment_id integer NOT NULL,
    amount numeric(12,2) NOT NULL,
    currency character varying(3) DEFAULT 'ARS'::character varying NOT NULL,
    earning_date date NOT NULL,
    notes text,
    transaction_id integer,
    user_id integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: COLUMN investment_earnings.amount; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.investment_earnings.amount IS 'Monto del rendimiento';


--
-- Name: COLUMN investment_earnings.currency; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.investment_earnings.currency IS 'Moneda del rendimiento';


--
-- Name: COLUMN investment_earnings.earning_date; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.investment_earnings.earning_date IS 'Fecha del rendimiento';


--
-- Name: COLUMN investment_earnings.notes; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.investment_earnings.notes IS 'Notas adicionales';


--
-- Name: investment_earnings_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.investment_earnings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: investment_earnings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.investment_earnings_id_seq OWNED BY public.investment_earnings.id;


--
-- Name: investments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.investments (
    id integer NOT NULL,
    type public.enum_investments_type NOT NULL,
    amount numeric(12,2) NOT NULL,
    currency character varying(3) DEFAULT 'ARS'::character varying NOT NULL,
    "exchangeRate" numeric(10,2),
    "exchangeAmount" numeric(12,2),
    "exchangeCurrency" character varying(3),
    "startDate" date NOT NULL,
    "endDate" date,
    "interestRate" numeric(5,2),
    status public.enum_investments_status DEFAULT 'Activo'::public.enum_investments_status NOT NULL,
    entity character varying(255) NOT NULL,
    description text,
    "userId" integer NOT NULL,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


--
-- Name: COLUMN investments.type; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.investments.type IS 'Tipo de inversi├│n';


--
-- Name: COLUMN investments.amount; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.investments.amount IS 'Monto de la inversi├│n';


--
-- Name: COLUMN investments.currency; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.investments.currency IS 'Moneda de la inversi├│n';


--
-- Name: COLUMN investments."exchangeRate"; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.investments."exchangeRate" IS 'Tipo de cambio usado (para compra/venta divisas)';


--
-- Name: COLUMN investments."exchangeAmount"; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.investments."exchangeAmount" IS 'Monto en la otra moneda (para compra/venta divisas)';


--
-- Name: COLUMN investments."exchangeCurrency"; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.investments."exchangeCurrency" IS 'Moneda de intercambio (para compra/venta divisas)';


--
-- Name: COLUMN investments."startDate"; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.investments."startDate" IS 'Fecha de inicio';


--
-- Name: COLUMN investments."endDate"; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.investments."endDate" IS 'Fecha de vencimiento';


--
-- Name: COLUMN investments."interestRate"; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.investments."interestRate" IS 'Tasa de inter├⌐s anual';


--
-- Name: COLUMN investments.status; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.investments.status IS 'Estado de la inversi├│n';


--
-- Name: COLUMN investments.entity; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.investments.entity IS 'Banco, casa de cambio, etc.';


--
-- Name: investments_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.investments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: investments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.investments_id_seq OWNED BY public.investments.id;


--
-- Name: loan_payments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.loan_payments (
    id integer NOT NULL,
    loan_id integer NOT NULL,
    amount numeric(10,2) NOT NULL,
    payment_date date NOT NULL,
    transaction_id integer,
    notes text,
    user_id integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: COLUMN loan_payments.amount; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.loan_payments.amount IS 'Monto del pago';


--
-- Name: COLUMN loan_payments.payment_date; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.loan_payments.payment_date IS 'Fecha del pago';


--
-- Name: COLUMN loan_payments.transaction_id; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.loan_payments.transaction_id IS 'Transacci├│n asociada al pago';


--
-- Name: loan_payments_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.loan_payments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: loan_payments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.loan_payments_id_seq OWNED BY public.loan_payments.id;


--
-- Name: loans; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.loans (
    id integer NOT NULL,
    entity character varying(100) NOT NULL,
    total_amount numeric(10,2) NOT NULL,
    pending_amount numeric(10,2) NOT NULL,
    currency character varying(3) DEFAULT 'ARS'::character varying NOT NULL,
    interest_rate numeric(5,2),
    loan_date date NOT NULL,
    due_date date,
    installments integer,
    installment_amount numeric(10,2),
    status public.enum_loans_status DEFAULT 'Activo'::public.enum_loans_status NOT NULL,
    description text,
    user_id integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: COLUMN loans.entity; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.loans.entity IS 'Banco/Entidad/Persona que otorg├│ el pr├⌐stamo';


--
-- Name: COLUMN loans.total_amount; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.loans.total_amount IS 'Monto total del pr├⌐stamo';


--
-- Name: COLUMN loans.pending_amount; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.loans.pending_amount IS 'Monto pendiente por pagar';


--
-- Name: COLUMN loans.currency; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.loans.currency IS 'Moneda del pr├⌐stamo (ARS, USD)';


--
-- Name: COLUMN loans.interest_rate; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.loans.interest_rate IS 'Tasa de inter├⌐s (%)';


--
-- Name: COLUMN loans.loan_date; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.loans.loan_date IS 'Fecha de otorgamiento';


--
-- Name: COLUMN loans.due_date; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.loans.due_date IS 'Fecha de vencimiento final';


--
-- Name: COLUMN loans.installments; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.loans.installments IS 'Cantidad de cuotas';


--
-- Name: COLUMN loans.installment_amount; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.loans.installment_amount IS 'Monto de cuota fija';


--
-- Name: COLUMN loans.description; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.loans.description IS 'Notas adicionales';


--
-- Name: loans_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.loans_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: loans_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.loans_id_seq OWNED BY public.loans.id;


--
-- Name: payment_methods; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.payment_methods (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    type public.enum_payment_methods_type NOT NULL,
    user_id integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: payment_methods_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.payment_methods_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: payment_methods_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.payment_methods_id_seq OWNED BY public.payment_methods.id;


--
-- Name: pending_transactions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pending_transactions (
    id integer NOT NULL,
    "rawMessage" text NOT NULL,
    amount numeric(15,2),
    currency public.enum_pending_transactions_currency DEFAULT 'ARS'::public.enum_pending_transactions_currency,
    type public.enum_pending_transactions_type,
    "suggestedCategory" character varying(100),
    description character varying(255),
    "transactionDate" timestamp with time zone NOT NULL,
    status public.enum_pending_transactions_status DEFAULT 'pending'::public.enum_pending_transactions_status NOT NULL,
    "userId" integer NOT NULL,
    "processedTransactionId" integer,
    "telegramMessageId" character varying(100),
    "telegramChatId" character varying(100),
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


--
-- Name: COLUMN pending_transactions."rawMessage"; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.pending_transactions."rawMessage" IS 'Mensaje original enviado por Telegram';


--
-- Name: COLUMN pending_transactions.amount; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.pending_transactions.amount IS 'Monto detectado autom├íticamente';


--
-- Name: COLUMN pending_transactions.currency; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.pending_transactions.currency IS 'Moneda detectada';


--
-- Name: COLUMN pending_transactions.type; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.pending_transactions.type IS 'Tipo de transacci├│n detectado';


--
-- Name: COLUMN pending_transactions."suggestedCategory"; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.pending_transactions."suggestedCategory" IS 'Categor├¡a sugerida por el parser';


--
-- Name: COLUMN pending_transactions.description; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.pending_transactions.description IS 'Descripci├│n extra├¡da del mensaje';


--
-- Name: COLUMN pending_transactions."transactionDate"; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.pending_transactions."transactionDate" IS 'Fecha/hora del mensaje';


--
-- Name: COLUMN pending_transactions.status; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.pending_transactions.status IS 'Estado de la transacci├│n pendiente';


--
-- Name: COLUMN pending_transactions."processedTransactionId"; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.pending_transactions."processedTransactionId" IS 'ID de la transacci├│n creada al procesar';


--
-- Name: COLUMN pending_transactions."telegramMessageId"; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.pending_transactions."telegramMessageId" IS 'ID del mensaje de Telegram';


--
-- Name: COLUMN pending_transactions."telegramChatId"; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.pending_transactions."telegramChatId" IS 'Chat ID de Telegram del usuario';


--
-- Name: pending_transactions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.pending_transactions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: pending_transactions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.pending_transactions_id_seq OWNED BY public.pending_transactions.id;


--
-- Name: transactions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.transactions (
    id integer NOT NULL,
    amount numeric(10,2) NOT NULL,
    date date NOT NULL,
    description character varying(255),
    type public.enum_transactions_type NOT NULL,
    currency character varying(3) DEFAULT 'ARS'::character varying NOT NULL,
    category_id integer NOT NULL,
    payment_method_id integer,
    user_id integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: COLUMN transactions.currency; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.transactions.currency IS 'Moneda de la transacci├│n (ARS, USD)';


--
-- Name: transactions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.transactions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: transactions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.transactions_id_seq OWNED BY public.transactions.id;


--
-- Name: user_telegram_links; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_telegram_links (
    id integer NOT NULL,
    "userId" integer NOT NULL,
    "telegramChatId" character varying(100) NOT NULL,
    "telegramUsername" character varying(255),
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


--
-- Name: user_telegram_links_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.user_telegram_links_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: user_telegram_links_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.user_telegram_links_id_seq OWNED BY public.user_telegram_links.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(150) NOT NULL,
    password_hash character varying(200) NOT NULL,
    role public.enum_users_role DEFAULT 'Operador'::public.enum_users_role NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: categories id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categories ALTER COLUMN id SET DEFAULT nextval('public.categories_id_seq'::regclass);


--
-- Name: credit_card_expenses id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.credit_card_expenses ALTER COLUMN id SET DEFAULT nextval('public.credit_card_expenses_id_seq'::regclass);


--
-- Name: credit_card_installments id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.credit_card_installments ALTER COLUMN id SET DEFAULT nextval('public.credit_card_installments_id_seq'::regclass);


--
-- Name: credit_card_payments id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.credit_card_payments ALTER COLUMN id SET DEFAULT nextval('public.credit_card_payments_id_seq'::regclass);


--
-- Name: credit_card_recurring_charges id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.credit_card_recurring_charges ALTER COLUMN id SET DEFAULT nextval('public.credit_card_recurring_charges_id_seq'::regclass);


--
-- Name: credit_cards id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.credit_cards ALTER COLUMN id SET DEFAULT nextval('public.credit_cards_id_seq'::regclass);


--
-- Name: exchange_rates id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.exchange_rates ALTER COLUMN id SET DEFAULT nextval('public.exchange_rates_id_seq'::regclass);


--
-- Name: investment_earnings id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.investment_earnings ALTER COLUMN id SET DEFAULT nextval('public.investment_earnings_id_seq'::regclass);


--
-- Name: investments id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.investments ALTER COLUMN id SET DEFAULT nextval('public.investments_id_seq'::regclass);


--
-- Name: loan_payments id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.loan_payments ALTER COLUMN id SET DEFAULT nextval('public.loan_payments_id_seq'::regclass);


--
-- Name: loans id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.loans ALTER COLUMN id SET DEFAULT nextval('public.loans_id_seq'::regclass);


--
-- Name: payment_methods id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payment_methods ALTER COLUMN id SET DEFAULT nextval('public.payment_methods_id_seq'::regclass);


--
-- Name: pending_transactions id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pending_transactions ALTER COLUMN id SET DEFAULT nextval('public.pending_transactions_id_seq'::regclass);


--
-- Name: transactions id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.transactions ALTER COLUMN id SET DEFAULT nextval('public.transactions_id_seq'::regclass);


--
-- Name: user_telegram_links id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_telegram_links ALTER COLUMN id SET DEFAULT nextval('public.user_telegram_links_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.categories (id, name, type, is_recurring, parent_category_id, user_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: credit_card_expenses; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.credit_card_expenses (id, description, total_amount, installments, purchase_date, currency, credit_card_id, category_id, user_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: credit_card_installments; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.credit_card_installments (id, installment_number, amount, due_date, is_paid, paid_date, expense_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: credit_card_payments; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.credit_card_payments (id, amount, payment_date, currency, notes, credit_card_id, transaction_id, user_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: credit_card_recurring_charges; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.credit_card_recurring_charges (id, description, amount, charge_day, is_active, currency, credit_card_id, category_id, user_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: credit_cards; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.credit_cards (id, name, bank, brand, last_four_digits, expiration_month, expiration_year, due_day, user_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: exchange_rates; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.exchange_rates (id, currency_from, currency_to, rate, source, date, user_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: investment_earnings; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.investment_earnings (id, investment_id, amount, currency, earning_date, notes, transaction_id, user_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: investments; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.investments (id, type, amount, currency, "exchangeRate", "exchangeAmount", "exchangeCurrency", "startDate", "endDate", "interestRate", status, entity, description, "userId", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: loan_payments; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.loan_payments (id, loan_id, amount, payment_date, transaction_id, notes, user_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: loans; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.loans (id, entity, total_amount, pending_amount, currency, interest_rate, loan_date, due_date, installments, installment_amount, status, description, user_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: payment_methods; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.payment_methods (id, name, type, user_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: pending_transactions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.pending_transactions (id, "rawMessage", amount, currency, type, "suggestedCategory", description, "transactionDate", status, "userId", "processedTransactionId", "telegramMessageId", "telegramChatId", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: transactions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.transactions (id, amount, date, description, type, currency, category_id, payment_method_id, user_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: user_telegram_links; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.user_telegram_links (id, "userId", "telegramChatId", "telegramUsername", "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.users (id, name, email, password_hash, role, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.categories_id_seq', 1, false);


--
-- Name: credit_card_expenses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.credit_card_expenses_id_seq', 1, false);


--
-- Name: credit_card_installments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.credit_card_installments_id_seq', 1, false);


--
-- Name: credit_card_payments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.credit_card_payments_id_seq', 1, false);


--
-- Name: credit_card_recurring_charges_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.credit_card_recurring_charges_id_seq', 1, false);


--
-- Name: credit_cards_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.credit_cards_id_seq', 1, false);


--
-- Name: exchange_rates_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.exchange_rates_id_seq', 1, false);


--
-- Name: investment_earnings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.investment_earnings_id_seq', 1, false);


--
-- Name: investments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.investments_id_seq', 1, false);


--
-- Name: loan_payments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.loan_payments_id_seq', 1, false);


--
-- Name: loans_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.loans_id_seq', 1, false);


--
-- Name: payment_methods_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.payment_methods_id_seq', 1, false);


--
-- Name: pending_transactions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.pending_transactions_id_seq', 1, false);


--
-- Name: transactions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.transactions_id_seq', 1, false);


--
-- Name: user_telegram_links_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.user_telegram_links_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.users_id_seq', 1, false);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: credit_card_expenses credit_card_expenses_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.credit_card_expenses
    ADD CONSTRAINT credit_card_expenses_pkey PRIMARY KEY (id);


--
-- Name: credit_card_installments credit_card_installments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.credit_card_installments
    ADD CONSTRAINT credit_card_installments_pkey PRIMARY KEY (id);


--
-- Name: credit_card_payments credit_card_payments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.credit_card_payments
    ADD CONSTRAINT credit_card_payments_pkey PRIMARY KEY (id);


--
-- Name: credit_card_recurring_charges credit_card_recurring_charges_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.credit_card_recurring_charges
    ADD CONSTRAINT credit_card_recurring_charges_pkey PRIMARY KEY (id);


--
-- Name: credit_cards credit_cards_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.credit_cards
    ADD CONSTRAINT credit_cards_pkey PRIMARY KEY (id);


--
-- Name: exchange_rates exchange_rates_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.exchange_rates
    ADD CONSTRAINT exchange_rates_pkey PRIMARY KEY (id);


--
-- Name: investment_earnings investment_earnings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.investment_earnings
    ADD CONSTRAINT investment_earnings_pkey PRIMARY KEY (id);


--
-- Name: investments investments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.investments
    ADD CONSTRAINT investments_pkey PRIMARY KEY (id);


--
-- Name: loan_payments loan_payments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.loan_payments
    ADD CONSTRAINT loan_payments_pkey PRIMARY KEY (id);


--
-- Name: loans loans_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.loans
    ADD CONSTRAINT loans_pkey PRIMARY KEY (id);


--
-- Name: payment_methods payment_methods_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payment_methods
    ADD CONSTRAINT payment_methods_pkey PRIMARY KEY (id);


--
-- Name: pending_transactions pending_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pending_transactions
    ADD CONSTRAINT pending_transactions_pkey PRIMARY KEY (id);


--
-- Name: transactions transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_pkey PRIMARY KEY (id);


--
-- Name: user_telegram_links user_telegram_links_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_telegram_links
    ADD CONSTRAINT user_telegram_links_pkey PRIMARY KEY (id);


--
-- Name: user_telegram_links user_telegram_links_telegramChatId_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_telegram_links
    ADD CONSTRAINT "user_telegram_links_telegramChatId_key" UNIQUE ("telegramChatId");


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: pending_transactions_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX pending_transactions_status ON public.pending_transactions USING btree (status);


--
-- Name: pending_transactions_transaction_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX pending_transactions_transaction_date ON public.pending_transactions USING btree ("transactionDate");


--
-- Name: pending_transactions_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX pending_transactions_user_id ON public.pending_transactions USING btree ("userId");


--
-- Name: pending_transactions_user_id_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX pending_transactions_user_id_status ON public.pending_transactions USING btree ("userId", status);


--
-- Name: user_telegram_links_is_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX user_telegram_links_is_active ON public.user_telegram_links USING btree ("isActive");


--
-- Name: user_telegram_links_telegram_chat_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX user_telegram_links_telegram_chat_id ON public.user_telegram_links USING btree ("telegramChatId");


--
-- Name: user_telegram_links_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX user_telegram_links_user_id ON public.user_telegram_links USING btree ("userId");


--
-- Name: categories categories_parent_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_parent_category_id_fkey FOREIGN KEY (parent_category_id) REFERENCES public.categories(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: categories categories_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: credit_card_expenses credit_card_expenses_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.credit_card_expenses
    ADD CONSTRAINT credit_card_expenses_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: credit_card_expenses credit_card_expenses_credit_card_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.credit_card_expenses
    ADD CONSTRAINT credit_card_expenses_credit_card_id_fkey FOREIGN KEY (credit_card_id) REFERENCES public.credit_cards(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: credit_card_expenses credit_card_expenses_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.credit_card_expenses
    ADD CONSTRAINT credit_card_expenses_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: credit_card_installments credit_card_installments_expense_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.credit_card_installments
    ADD CONSTRAINT credit_card_installments_expense_id_fkey FOREIGN KEY (expense_id) REFERENCES public.credit_card_expenses(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: credit_card_payments credit_card_payments_credit_card_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.credit_card_payments
    ADD CONSTRAINT credit_card_payments_credit_card_id_fkey FOREIGN KEY (credit_card_id) REFERENCES public.credit_cards(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: credit_card_payments credit_card_payments_transaction_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.credit_card_payments
    ADD CONSTRAINT credit_card_payments_transaction_id_fkey FOREIGN KEY (transaction_id) REFERENCES public.transactions(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: credit_card_payments credit_card_payments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.credit_card_payments
    ADD CONSTRAINT credit_card_payments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: credit_card_recurring_charges credit_card_recurring_charges_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.credit_card_recurring_charges
    ADD CONSTRAINT credit_card_recurring_charges_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: credit_card_recurring_charges credit_card_recurring_charges_credit_card_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.credit_card_recurring_charges
    ADD CONSTRAINT credit_card_recurring_charges_credit_card_id_fkey FOREIGN KEY (credit_card_id) REFERENCES public.credit_cards(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: credit_card_recurring_charges credit_card_recurring_charges_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.credit_card_recurring_charges
    ADD CONSTRAINT credit_card_recurring_charges_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: credit_cards credit_cards_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.credit_cards
    ADD CONSTRAINT credit_cards_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: exchange_rates exchange_rates_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.exchange_rates
    ADD CONSTRAINT exchange_rates_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: investment_earnings investment_earnings_investment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.investment_earnings
    ADD CONSTRAINT investment_earnings_investment_id_fkey FOREIGN KEY (investment_id) REFERENCES public.investments(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: investment_earnings investment_earnings_transaction_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.investment_earnings
    ADD CONSTRAINT investment_earnings_transaction_id_fkey FOREIGN KEY (transaction_id) REFERENCES public.transactions(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: investment_earnings investment_earnings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.investment_earnings
    ADD CONSTRAINT investment_earnings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: investments investments_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.investments
    ADD CONSTRAINT "investments_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: loan_payments loan_payments_loan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.loan_payments
    ADD CONSTRAINT loan_payments_loan_id_fkey FOREIGN KEY (loan_id) REFERENCES public.loans(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: loan_payments loan_payments_transaction_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.loan_payments
    ADD CONSTRAINT loan_payments_transaction_id_fkey FOREIGN KEY (transaction_id) REFERENCES public.transactions(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: loan_payments loan_payments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.loan_payments
    ADD CONSTRAINT loan_payments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: loans loans_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.loans
    ADD CONSTRAINT loans_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: payment_methods payment_methods_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payment_methods
    ADD CONSTRAINT payment_methods_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: pending_transactions pending_transactions_processedTransactionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pending_transactions
    ADD CONSTRAINT "pending_transactions_processedTransactionId_fkey" FOREIGN KEY ("processedTransactionId") REFERENCES public.transactions(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: pending_transactions pending_transactions_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pending_transactions
    ADD CONSTRAINT "pending_transactions_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: transactions transactions_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: transactions transactions_payment_method_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_payment_method_id_fkey FOREIGN KEY (payment_method_id) REFERENCES public.payment_methods(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: transactions transactions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_telegram_links user_telegram_links_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_telegram_links
    ADD CONSTRAINT "user_telegram_links_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict JrpxFPy62946UGLU97ivkhZ7tGF6NJ0IQkC8Rt3RW1H1efcbyav0E5QmWEKcf7w

